[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
beautifulsoup4 = "*"
newspaper3k = "*"
requests = "*"
aiohttp = "*"
aiofiles = "*"

[requires]
python_version = "3.7"
